## Nội dung:

 Tính mean, median, mode, variance, standard deviation, range, percentile, quartile, interquartile range (IQR) sử dụng thư viện numpy và stats trên tập dữ liệu COVID.

## Bài làm:

import thư viện cần thiết

In [165]:
import numpy as np
import pandas as pd
from scipy import stats

load data

In [166]:
covid_data = pd.read_csv("../data/covid-data.csv")
covid_data = covid_data[['iso_code','continent','location','date','total_cases','new_cases']]
#Xem dữ liệu
covid_data.head(5)

  iso_code continent     location        date  total_cases  new_cases
0      AFG      Asia  Afghanistan  2020-01-05          0.0        0.0
1      AFG      Asia  Afghanistan  2020-01-06          0.0        0.0
2      AFG      Asia  Afghanistan  2020-01-07          0.0        0.0
3      AFG      Asia  Afghanistan  2020-01-08          0.0        0.0
4      AFG      Asia  Afghanistan  2020-01-09          0.0        0.0

In [167]:
#Kiểu dữ liệu
covid_data.dtypes

iso_code        object
continent       object
location        object
date            object
total_cases    float64
new_cases      float64
dtype: object

In [168]:
#Số dòng và số cột
covid_data.shape

(429435, 6)

Kiểm tra NaN

In [169]:
covid_data.isna().sum()

iso_code           0
continent      26525
location           0
date               0
total_cases    17631
new_cases      19276
dtype: int64

In [170]:
covid_data.fillna(0,inplace=True)
covid_data.isna().sum()

iso_code       0
continent      0
location       0
date           0
total_cases    0
new_cases      0
dtype: int64

### Mean

In [172]:
# Get the mean of the data
data_mean = np.mean(covid_data["new_cases"])
print(f"Giá trị trung bình: {data_mean}")

Giá trị trung bình: 7657.48561016219

### Median

In [173]:
data_median = np.median(covid_data["new_cases"])
data_median

np.float64(0.0)

### Mode

In [174]:
data_mode = stats.mode(covid_data["new_cases"])
data_mode

ModeResult(mode=np.float64(0.0), count=np.int64(387661))

### Variance

In [175]:
data_variance = np.var(covid_data["new_cases"])
print(f"Phương sai: {data_variance:.2f}")

Phương sai: 50380982412.89

### Standard

In [176]:
data_sd = np.std(covid_data["new_cases"])
print(f"Độ lệch chuẩn: {data_sd:.2f}")

Độ lệch chuẩn: 224457.08

### Max - Min

In [177]:
data_max = np.max(covid_data["new_cases"])
data_min = np.min(covid_data["new_cases"])
print(f"Giá trị max: {data_max}\nGiá trị min: {data_min}")

Giá trị max: 44236227.0
Giá trị min: 0.0

### Percentile

In [178]:
data_percentile = np.percentile(covid_data["new_cases"], 60)
print(f"Phân vị 60: {data_percentile}")

Phân vị 60: 0.0

### Quartile

In [179]:
data_quartile_75 = np.quantile(covid_data["new_cases"], 0.75)
print(f"Tứ phân vị 75: {data_quartile_75}")

Tứ phân vị 75: 0.0

### INTERQUARTILE RANGE (IQR)

In [180]:
data_IQR = stats.iqr(covid_data["new_cases"])
print(f"IQR: {data_IQR}")

IQR: 0.0

## Kết thúc