# üìä EDA Online Retail
Trong notebook n√†y, ch√∫ng ta s·∫Ω th·ª±c hi·ªán **Exploratory Data Analysis (EDA)** cho b·ªô d·ªØ li·ªáu **Online Retail**.

C√°c b∆∞·ªõc ch√≠nh:
1. Import th∆∞ vi·ªán
2. ƒê·ªçc d·ªØ li·ªáu & t·ªïng quan
3. Ki·ªÉm tra & x·ª≠ l√Ω d·ªØ li·ªáu
4. Ph√¢n t√≠ch c∆° b·∫£n (Country, Product)
5. Tr·ª±c quan h√≥a d·ªØ li·ªáu (Bar chart, Line chart, Heatmap)

## 1. Import th∆∞ vi·ªán

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use("seaborn-v0_8")
sns.set_palette("Set2")

## 2. ƒê·ªçc d·ªØ li·ªáu & t·ªïng quan

In [ ]:

file_path = "Online Retail.xlsx"  # thay b·∫±ng ƒë∆∞·ªùng d·∫´n file b·∫°n gi·∫£i n√©n
df = pd.read_excel(file_path)

print("üìå K√≠ch th∆∞·ªõc dataset:", df.shape)
print("\nüìå Th√¥ng tin d·ªØ li·ªáu:")
print(df.info())
print("\nüìå 5 d√≤ng ƒë·∫ßu:")
print(df.head())

## 3. Ki·ªÉm tra & x·ª≠ l√Ω d·ªØ li·ªáu

In [ ]:

print("\nüìå S·ªë l∆∞·ª£ng missing values:")
print(df.isnull().sum())

# X√≥a d√≤ng thi·∫øu CustomerID
df = df.dropna(subset=['CustomerID'])

# Lo·∫°i b·ªè gi√° tr·ªã Quantity <= 0 ho·∫∑c UnitPrice <= 0
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]

# Th√™m c·ªôt Doanh thu
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

## 4. Ph√¢n t√≠ch c∆° b·∫£n

In [ ]:

print("\nüìå Top 10 qu·ªëc gia c√≥ nhi·ªÅu ƒë∆°n h√†ng nh·∫•t:")
print(df['Country'].value_counts().head(10))

print("\nüìå Top 10 s·∫£n ph·∫©m b√°n nhi·ªÅu nh·∫•t:")
print(df.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(10))

## 5. Tr·ª±c quan h√≥a d·ªØ li·ªáu

In [ ]:

top_countries = df[df['Country'] != 'United Kingdom']['Country'].value_counts().head(10)
plt.figure(figsize=(10,5))
sns.barplot(x=top_countries.values, y=top_countries.index)
plt.title("Top 10 qu·ªëc gia (ngo·∫°i tr·ª´ UK)")
plt.xlabel("S·ªë l∆∞·ª£ng ƒë∆°n h√†ng")
plt.ylabel("Qu·ªëc gia")
plt.show()

In [ ]:

df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['Month'] = df['InvoiceDate'].dt.to_period('M')

monthly_revenue = df.groupby('Month')['TotalPrice'].sum()

plt.figure(figsize=(12,6))
monthly_revenue.plot(kind='line', marker='o')
plt.title("Doanh thu theo th√°ng")
plt.xlabel("Th√°ng")
plt.ylabel("Doanh thu (¬£)")
plt.grid(True)
plt.show()

In [ ]:

pivot_country_month = df.pivot_table(index='Country', columns='Month', values='TotalPrice', aggfunc='sum').fillna(0)

plt.figure(figsize=(15,8))
sns.heatmap(pivot_country_month, cmap="YlGnBu", cbar_kws={'label': 'Doanh thu (¬£)'})
plt.title("Heatmap Doanh thu theo Qu·ªëc gia v√† Th√°ng")
plt.show()